/* Імпорт шрифту Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Базовий розмір для rem */
html {
  font-size: 14px;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --headings-font-family: 'Jost', sans-serif;
}

/* Базовий шрифт - Roboto */
body {
  font-family: 'Roboto', sans-serif;
}

/* Шрифт для заголовків - Jost */
h1, h2, h3, h4, h5, h6, .jost-heading {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  
}

/* Додаткові стилі для заголовків */
h1 {
  font-size: 2.5rem;
  
}

h2 {
  font-size: 2rem;
  
}

h3 {
  font-size: 1.5rem;
}

/* Клас для примусового застосування Jost */
.jost-font {
  font-family: 'Jost', sans-serif !important;
}

/* Клас для примусового застосування Roboto */
.roboto-font {
  font-family: 'Roboto', sans-serif !important;
}
/* Скидання стилів для всіх елементів */
* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}





/* Відступи */




body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--surface-ground);
  color: var(--text-color);
}

/* PrimeVue компоненти */


.p-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.p-component:focus {
  outline: none !important;
  box-shadow: none !important;
}

.p-badge {
  min-height: 1.5rem !important;
  min-width: 1.5rem !important;
}







