/* Імпорт шрифту Inter */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

/* Базовий розмір для rem */
html {
  font-size: 14px;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --headings-font-family: 'Unbounded', sans-serif;
}

/* Базовий шрифт - Roboto */
body {
  font-family: 'Roboto', sans-serif;
}

/* Шрифт для заголовків - Unbounded */
h1, h2, h3, h4, h5, h6, .Unbounded-heading {
  font-family: 'Unbounded', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  margin: auto;
  
  
  
  
}
/* Клас для примусового застосування Jost */
.unbounded-font {
  font-family: 'Unbounded', sans-serif !important;
  letter-spacing: 0.05em;
}

/* Клас для примусового застосування Roboto */
.roboto -font {
  font-family: 'Roboto', sans-serif !important;
}
/* Скидання стилів для всіх елементів */
* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}





/* Відступи */




body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  
}

/* PrimeVue компоненти */


.p-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.p-component:focus {
  outline: none !important;
  box-shadow: none !important;
}

.p-badge {
  min-height: 1.5rem !important;
  min-width: 1.5rem !important;
}







